@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Poppins:wght@300&family=Roboto+Mono&family=Roboto+Slab&display=swap');

.nav {
    font-family: 'Roboto Mono', monospace;
}

.kami {
    font-family: 'Roboto Slab', serif;
}

.deskripsi {
    font-family: 'Poppins', sans-serif;
}

.kenapa {
    font-family: 'Maven Pro', sans-serif;
}